<a href="https://colab.research.google.com/github/temple17/hands-on-ml-practice/blob/main/Chapter_2_End_to_End_Machine_Learning_Project_3rd_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Flow
=========

## 1. Look at the big picture.

## 2. Get the data.

## 3. Discover and visualize the data to gain insights.

## 4. Prepare the data for Machine Learning algorithms.

## 5. Select a model and train it.

## 6. Fine-tune your model.

## 7. Present your solution.

## 8. Launch, monitor, and maintain your system.

In [1]:
# Download the data
import os
# gzip, bz2, lzam 압축을 사용하는 것을 포함하여, tar 아카이브를 읽고 쓸 수 있음
import tarfile
from six.moves import urllib

## 2. Get the data.

In [2]:
# Root url
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"

# 인수에 전달한 2개의 문자열을 결합하여, 1개의 경로로 할 수 있다.
# 미리 path를 만들어 둔 것을 해석
HOUSING_PATH = os.path.join("datasets", "housing")

# 방금 전에 만든 HOUSING_PATH 뒤에 housing.tgz가 붙는 것으로 표현됨
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

In [3]:
os.getcwd()

'/content'

In [6]:
# 함수를 통해 데이터 저장할 directory 생성하고, 압축 풀기

def fetch_housing_data(housing_url = HOUSING_URL, housing_path = HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    # tgz_path라는 파일명으로 자료를 입력함
    urllib.request.urlretrieve(housing_url, tgz_path)
    # name에 대한 tarfile 객체를 반환함
    housing_tgz = tarfile.open(tgz_path)
    # extractall 함수로 여러 파일을 해제할 수 있음
    housing_tgz.extractall(path = housing_path)
    housing_tgz.close()

In [7]:
fetch_housing_data()

In [8]:
import pandas as pd
import numpy as np

In [10]:
# datasets/housing 이라는 directory에 저장된 csv 파일 불러오기

def load_housing_data(housing_path = HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [12]:
housing = load_housing_data()

In [13]:
housing.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [15]:
housing.info()

# total_bedrooms have 207 missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [16]:
housing[['ocean_proximity']].value_counts()

ocean_proximity
<1H OCEAN          9136
INLAND             6551
NEAR OCEAN         2658
NEAR BAY           2290
ISLAND                5
dtype: int64

In [17]:
housing.describe()

          longitude      latitude  ...  median_income  median_house_value
count  20640.000000  20640.000000  ...   20640.000000        20640.000000
mean    -119.569704     35.631861  ...       3.870671       206855.816909
std        2.003532      2.135952  ...       1.899822       115395.615874
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.800000     33.930000  ...       2.563400       119600.000000
50%     -118.490000     34.260000  ...       3.534800       179700.000000
75%     -118.010000     37.710000  ...       4.743250       264725.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

## 3. Discover and visualize the data to gain insights.

In [18]:
import matplotlib.pyplot as plt
%matplotlib inline